body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u352 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u352_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u352_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u353 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u354 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u355 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u356 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u357 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u358 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u359_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u359_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u360 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u361 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u362 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u363 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u364 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u365 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u366 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u367 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u368 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u368_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u368_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u369 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u370 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u371 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u372 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u373 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u374 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u375 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u376 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u377 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u377_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u377_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u378 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u379 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u380 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u381 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u382 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u383 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u384 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u385 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u386 {
  position:absolute;
  left:324px;
  top:57px;
  visibility:hidden;
}
#u386_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u386_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:487px;
}
#u387 {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:487px;
}
#u388 {
  position:absolute;
  left:2px;
  top:236px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u389 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u390 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u391 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u392 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u393 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u394 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u395 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u395_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u395_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u396 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u397 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u398 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u399 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u400 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u401 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u402 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u403 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u404 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u404_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u404_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u405 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u406 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u407 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u408 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u409 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u410 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u411 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u412 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u413_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u413_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u414 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u415 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u416 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u417 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u418 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u419 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u420 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u421 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u422 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u422_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u422_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u423 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u424 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u425 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u426 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u427 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u428 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u429 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u430 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u431 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u431_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u431_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u432 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u433 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u434 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u435 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u436 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u437 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u438 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u439 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u440_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u440_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u441 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:494px;
}
#u442 {
  position:absolute;
  left:2px;
  top:239px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u443 {
  position:absolute;
  left:663px;
  top:221px;
  width:29px;
  height:50px;
}
#u444 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u445 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u446 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u447 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u448 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449 {
  position:absolute;
  left:318px;
  top:50px;
  visibility:hidden;
}
#u449_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u449_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u450_img {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:500px;
}
#u450 {
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:500px;
}
#u451 {
  position:absolute;
  left:2px;
  top:242px;
  width:696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:50px;
}
#u452 {
  position:absolute;
  left:8px;
  top:221px;
  width:29px;
  height:50px;
}
#u453 {
  position:absolute;
  left:2px;
  top:17px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:32px;
}
#u454 {
  position:absolute;
  left:663px;
  top:10px;
  width:29px;
  height:32px;
}
#u455 {
  position:absolute;
  left:2px;
  top:8px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1102px;
}
#u456 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1102px;
}
#u457 {
  position:absolute;
  left:2px;
  top:543px;
  width:1346px;
  word-wrap:break-word;
}
#u458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u458 {
  position:absolute;
  left:371px;
  top:3px;
  width:298px;
  height:138px;
}
#u459 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:372px;
}
#u460 {
  position:absolute;
  left:45px;
  top:679px;
  width:130px;
  height:372px;
}
#u461 {
  position:absolute;
  left:2px;
  top:178px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:373px;
}
#u462 {
  position:absolute;
  left:22px;
  top:239px;
  width:159px;
  height:373px;
}
#u463 {
  position:absolute;
  left:2px;
  top:178px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:372px;
}
#u464 {
  position:absolute;
  left:1202px;
  top:679px;
  width:86px;
  height:372px;
}
#u465 {
  position:absolute;
  left:2px;
  top:178px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:110px;
}
#u466 {
  position:absolute;
  left:323px;
  top:239px;
  width:199px;
  height:110px;
}
#u467 {
  position:absolute;
  left:2px;
  top:47px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:893px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u468 {
  position:absolute;
  left:200px;
  top:169px;
  width:940px;
  height:893px;
}
#u469 {
  position:absolute;
  left:10px;
  top:10px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u470 {
  position:absolute;
  left:200px;
  top:141px;
}
#u470_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u470_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:34px;
}
#u472 {
  position:absolute;
  left:2px;
  top:9px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u473 {
  position:absolute;
  left:306px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u473_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u473.mouseOver {
}
#u474 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u475 {
  position:absolute;
  left:454px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u475_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u475.mouseOver {
}
#u476 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u477 {
  position:absolute;
  left:760px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u477_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u477.mouseOver {
}
#u478 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u479 {
  position:absolute;
  left:921px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u479_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u479.mouseOver {
}
#u480 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u481 {
  position:absolute;
  left:605px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u481_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u481.mouseOver {
}
#u482 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u483 {
  position:absolute;
  left:987px;
  top:3px;
  width:298px;
  height:138px;
}
#u484 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u485 {
  position:absolute;
  left:1209px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u485_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u485.mouseOver {
}
#u486 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u487 {
  position:absolute;
  left:1245px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u487_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u487.mouseOver {
}
#u488 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u489 {
  position:absolute;
  left:1175px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u489_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u489.mouseOver {
}
#u490 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u491 {
  position:absolute;
  left:679px;
  top:3px;
  width:298px;
  height:138px;
}
#u492 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u493 {
  position:absolute;
  left:63px;
  top:3px;
  width:298px;
  height:138px;
}
#u494 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:89px;
}
#u496 {
  position:absolute;
  left:167px;
  top:119px;
  width:117px;
  height:89px;
}
#u497 {
  position:absolute;
  left:2px;
  top:36px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u498 {
  position:absolute;
  left:277px;
  top:147px;
  width:25px;
  height:22px;
}
#u498_img.mouseOver {
}
#u498.mouseOver {
}
#u499 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500 {
  position:absolute;
  left:452px;
  top:170px;
  visibility:hidden;
}
#u500_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u500_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:128px;
}
#u501 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:118px;
}
#u502 {
  position:absolute;
  left:2px;
  top:51px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u503 {
  position:absolute;
  left:25px;
  top:10px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u503_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u503.mouseOver {
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u505 {
  position:absolute;
  left:25px;
  top:37px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u505_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u505.mouseOver {
}
#u506 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u507 {
  position:absolute;
  left:25px;
  top:91px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u507_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u507.mouseOver {
}
#u508 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u509 {
  position:absolute;
  left:25px;
  top:64px;
  width:99px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u509_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u509.mouseOver {
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u511 {
  position:absolute;
  left:306px;
  top:170px;
  visibility:hidden;
}
#u511_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u511_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:128px;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:118px;
}
#u513 {
  position:absolute;
  left:2px;
  top:51px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u514 {
  position:absolute;
  left:26px;
  top:10px;
  width:65px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u514_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u514.mouseOver {
}
#u515 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u516 {
  position:absolute;
  left:26px;
  top:37px;
  width:74px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u516_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u516.mouseOver {
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u518 {
  position:absolute;
  left:26px;
  top:91px;
  width:82px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u518_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u518.mouseOver {
}
#u519 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u520 {
  position:absolute;
  left:26px;
  top:64px;
  width:65px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u520_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u520.mouseOver {
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:383px;
}
#u522 {
  position:absolute;
  left:1174px;
  top:234px;
  width:142px;
  height:383px;
}
#u523 {
  position:absolute;
  left:2px;
  top:184px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Курсив', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000000;
}
#u524 {
  position:absolute;
  left:313px;
  top:176px;
  width:123px;
  height:18px;
  font-family:'Times New Roman Курсив', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000000;
}
#u524_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u524.mouseOver {
}
#u524_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u524.mouseDown {
}
#u524_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Курсив', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000000;
}
#u524.selected {
}
#u525 {
  position:absolute;
  left:2px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:143px;
}
#u526 {
  position:absolute;
  left:1007px;
  top:924px;
  width:140px;
  height:143px;
}
#u527 {
  position:absolute;
  left:2px;
  top:64px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u528 {
  position:absolute;
  left:277px;
  top:222px;
  width:229px;
  height:155px;
}
#u529 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u530 {
  position:absolute;
  left:277px;
  top:405px;
  width:229px;
  height:155px;
}
#u531 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u532 {
  position:absolute;
  left:552px;
  top:222px;
  width:229px;
  height:155px;
}
#u533 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u534 {
  position:absolute;
  left:826px;
  top:222px;
  width:229px;
  height:155px;
}
#u535 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u536 {
  position:absolute;
  left:552px;
  top:405px;
  width:229px;
  height:155px;
}
#u537 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u538 {
  position:absolute;
  left:826px;
  top:405px;
  width:229px;
  height:155px;
}
#u539 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u540 {
  position:absolute;
  left:277px;
  top:588px;
  width:229px;
  height:155px;
}
#u541 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u542 {
  position:absolute;
  left:277px;
  top:771px;
  width:229px;
  height:155px;
}
#u543 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u544 {
  position:absolute;
  left:552px;
  top:588px;
  width:229px;
  height:155px;
}
#u545 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u546 {
  position:absolute;
  left:826px;
  top:588px;
  width:229px;
  height:155px;
}
#u547 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u548 {
  position:absolute;
  left:552px;
  top:771px;
  width:229px;
  height:155px;
}
#u549 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:155px;
}
#u550 {
  position:absolute;
  left:826px;
  top:771px;
  width:229px;
  height:155px;
}
#u551 {
  position:absolute;
  left:2px;
  top:70px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u552 {
  position:absolute;
  left:637px;
  top:952px;
  width:26px;
  height:30px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u552_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 255, 153, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u552.mouseOver {
}
#u553 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
#u554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u554 {
  position:absolute;
  left:673px;
  top:952px;
  width:26px;
  height:30px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u554_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u554.mouseOver {
}
#u555 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  word-wrap:break-word;
}
