body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1346px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1063px;
}
#u1056 {
  position:absolute;
  left:1350px;
  top:0px;
  width:1px;
  height:1062px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:523px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1102px;
}
#u1058 {
  position:absolute;
  left:-5px;
  top:0px;
  width:1350px;
  height:1102px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:543px;
  width:1346px;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:372px;
}
#u1060 {
  position:absolute;
  left:45px;
  top:679px;
  width:130px;
  height:372px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:178px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:373px;
}
#u1062 {
  position:absolute;
  left:22px;
  top:239px;
  width:159px;
  height:373px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:178px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:372px;
}
#u1064 {
  position:absolute;
  left:1202px;
  top:679px;
  width:86px;
  height:372px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:178px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:110px;
}
#u1066 {
  position:absolute;
  left:323px;
  top:239px;
  width:199px;
  height:110px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:47px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:893px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1068 {
  position:absolute;
  left:200px;
  top:144px;
  width:940px;
  height:893px;
}
#u1069 {
  position:absolute;
  left:10px;
  top:10px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070 {
  position:absolute;
  left:200px;
  top:141px;
}
#u1070_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1070_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:34px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:9px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1073 {
  position:absolute;
  left:306px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1073_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1073.mouseOver {
}
#u1074 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1075 {
  position:absolute;
  left:454px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1075_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1075.mouseOver {
}
#u1076 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1077 {
  position:absolute;
  left:760px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1077_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1077.mouseOver {
}
#u1078 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1079 {
  position:absolute;
  left:921px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1079_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1079.mouseOver {
}
#u1080 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1081 {
  position:absolute;
  left:605px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1081_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1081.mouseOver {
}
#u1082 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u1083 {
  position:absolute;
  left:371px;
  top:3px;
  width:298px;
  height:138px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u1085 {
  position:absolute;
  left:987px;
  top:3px;
  width:298px;
  height:138px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1087 {
  position:absolute;
  left:1209px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1087_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1087.mouseOver {
}
#u1088 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1089 {
  position:absolute;
  left:1245px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1089_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1089.mouseOver {
}
#u1090 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1091 {
  position:absolute;
  left:1175px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1091_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1091.mouseOver {
}
#u1092 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u1093 {
  position:absolute;
  left:679px;
  top:3px;
  width:298px;
  height:138px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u1095 {
  position:absolute;
  left:63px;
  top:3px;
  width:298px;
  height:138px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:99px;
}
#u1098 {
  position:absolute;
  left:167px;
  top:119px;
  width:117px;
  height:89px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:36px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u1100 {
  position:absolute;
  left:277px;
  top:147px;
  width:25px;
  height:22px;
}
#u1100_img.mouseOver {
}
#u1100.mouseOver {
}
#u1101 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102 {
  position:absolute;
  left:452px;
  top:170px;
  visibility:hidden;
}
#u1102_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1102_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:128px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:118px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:51px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1105 {
  position:absolute;
  left:25px;
  top:10px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1105_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1105.mouseOver {
}
#u1106 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u1107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1107 {
  position:absolute;
  left:25px;
  top:37px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1107_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1107.mouseOver {
}
#u1108 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1109 {
  position:absolute;
  left:25px;
  top:91px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1109_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1109.mouseOver {
}
#u1110 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1111 {
  position:absolute;
  left:25px;
  top:64px;
  width:99px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1111_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1111.mouseOver {
}
#u1112 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u1113 {
  position:absolute;
  left:306px;
  top:170px;
  visibility:hidden;
}
#u1113_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1113_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:128px;
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:118px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:51px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1116 {
  position:absolute;
  left:26px;
  top:10px;
  width:65px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1116_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1116.mouseOver {
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1118 {
  position:absolute;
  left:26px;
  top:37px;
  width:74px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1118_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1118.mouseOver {
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1120 {
  position:absolute;
  left:26px;
  top:91px;
  width:82px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1120_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1120.mouseOver {
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1122 {
  position:absolute;
  left:26px;
  top:64px;
  width:65px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1122_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u1122.mouseOver {
}
#u1123 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:383px;
}
#u1124 {
  position:absolute;
  left:1174px;
  top:234px;
  width:142px;
  height:383px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:184px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:143px;
}
#u1126 {
  position:absolute;
  left:1007px;
  top:892px;
  width:140px;
  height:143px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:64px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1234px;
  height:280px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:72px;
}
#u1128 {
  position:absolute;
  left:67px;
  top:204px;
  width:1234px;
  height:280px;
  font-size:72px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:98px;
  width:1230px;
  word-wrap:break-word;
}
