body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1350px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1102px;
}
#u276 {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1102px;
}
#u277 {
  position:absolute;
  left:2px;
  top:543px;
  width:1346px;
  word-wrap:break-word;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:372px;
}
#u278 {
  position:absolute;
  left:45px;
  top:679px;
  width:130px;
  height:372px;
}
#u279 {
  position:absolute;
  left:2px;
  top:178px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:373px;
}
#u280 {
  position:absolute;
  left:22px;
  top:239px;
  width:159px;
  height:373px;
}
#u281 {
  position:absolute;
  left:2px;
  top:178px;
  width:155px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:372px;
}
#u282 {
  position:absolute;
  left:1202px;
  top:679px;
  width:86px;
  height:372px;
}
#u283 {
  position:absolute;
  left:2px;
  top:178px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:110px;
}
#u284 {
  position:absolute;
  left:323px;
  top:239px;
  width:199px;
  height:110px;
}
#u285 {
  position:absolute;
  left:2px;
  top:47px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:893px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u286 {
  position:absolute;
  left:200px;
  top:169px;
  width:940px;
  height:893px;
}
#u287 {
  position:absolute;
  left:10px;
  top:10px;
  width:920px;
  visibility:hidden;
  word-wrap:break-word;
}
#u288 {
  position:absolute;
  left:200px;
  top:141px;
}
#u288_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u288_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:34px;
}
#u290 {
  position:absolute;
  left:2px;
  top:9px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(204, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u291 {
  position:absolute;
  left:306px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u291_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u291.mouseOver {
}
#u292 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u293 {
  position:absolute;
  left:454px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u293_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u293.mouseOver {
}
#u294 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u295 {
  position:absolute;
  left:760px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u295_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u295.mouseOver {
}
#u296 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u297 {
  position:absolute;
  left:921px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u297_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u297.mouseOver {
}
#u298 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u299 {
  position:absolute;
  left:605px;
  top:145px;
  width:136px;
  height:25px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u299_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 204, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u299.mouseOver {
}
#u300 {
  position:absolute;
  left:2px;
  top:4px;
  width:132px;
  word-wrap:break-word;
}
#u301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u301 {
  position:absolute;
  left:371px;
  top:3px;
  width:298px;
  height:138px;
}
#u302 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u303 {
  position:absolute;
  left:987px;
  top:3px;
  width:298px;
  height:138px;
}
#u304 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u305 {
  position:absolute;
  left:1209px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u305_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u305.mouseOver {
}
#u306 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u307 {
  position:absolute;
  left:1245px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u307_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u307.mouseOver {
}
#u308 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u309 {
  position:absolute;
  left:1175px;
  top:119px;
  width:30px;
  height:15px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u309_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:15px;
  background:inherit;
  background-color:rgba(204, 255, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u309.mouseOver {
}
#u310 {
  position:absolute;
  left:2px;
  top:0px;
  width:26px;
  word-wrap:break-word;
}
#u311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u311 {
  position:absolute;
  left:679px;
  top:3px;
  width:298px;
  height:138px;
}
#u312 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:138px;
}
#u313 {
  position:absolute;
  left:63px;
  top:3px;
  width:298px;
  height:138px;
}
#u314 {
  position:absolute;
  left:2px;
  top:61px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u315 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:89px;
}
#u316 {
  position:absolute;
  left:167px;
  top:119px;
  width:117px;
  height:89px;
}
#u317 {
  position:absolute;
  left:2px;
  top:36px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u318 {
  position:absolute;
  left:277px;
  top:147px;
  width:25px;
  height:22px;
}
#u318_img.mouseOver {
}
#u318.mouseOver {
}
#u319 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u320 {
  position:absolute;
  left:452px;
  top:170px;
  visibility:hidden;
}
#u320_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u320_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:128px;
}
#u321 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:118px;
}
#u322 {
  position:absolute;
  left:2px;
  top:51px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u323 {
  position:absolute;
  left:25px;
  top:10px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u323_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u323.mouseOver {
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u325 {
  position:absolute;
  left:25px;
  top:37px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u325_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u325.mouseOver {
}
#u326 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u327 {
  position:absolute;
  left:25px;
  top:91px;
  width:86px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u327_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u327.mouseOver {
}
#u328 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u329 {
  position:absolute;
  left:25px;
  top:64px;
  width:99px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u329_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u329.mouseOver {
}
#u330 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u331 {
  position:absolute;
  left:306px;
  top:170px;
  visibility:hidden;
}
#u331_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u331_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:128px;
}
#u332 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:118px;
}
#u333 {
  position:absolute;
  left:2px;
  top:51px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u334 {
  position:absolute;
  left:26px;
  top:10px;
  width:65px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u334_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u334.mouseOver {
}
#u335 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u336 {
  position:absolute;
  left:26px;
  top:37px;
  width:74px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u336_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u336.mouseOver {
}
#u337 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u338 {
  position:absolute;
  left:26px;
  top:91px;
  width:82px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u338_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u338.mouseOver {
}
#u339 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u340 {
  position:absolute;
  left:26px;
  top:64px;
  width:65px;
  height:17px;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u340_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Полужирный', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  color:#333399;
}
#u340.mouseOver {
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:383px;
}
#u342 {
  position:absolute;
  left:1174px;
  top:234px;
  width:142px;
  height:383px;
}
#u343 {
  position:absolute;
  left:2px;
  top:184px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Курсив', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000000;
}
#u344 {
  position:absolute;
  left:313px;
  top:176px;
  width:123px;
  height:18px;
  font-family:'Times New Roman Курсив', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000000;
}
#u344_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u344.mouseOver {
}
#u344_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u344.mouseDown {
}
#u344_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:18px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Times New Roman Курсив', 'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000000;
}
#u344.selected {
}
#u345 {
  position:absolute;
  left:2px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:604px;
}
#u346 {
  position:absolute;
  left:277px;
  top:479px;
  width:803px;
  height:604px;
  font-family:'Times New Roman Обычный', 'Times New Roman';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u347 {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  word-wrap:break-word;
}
#u348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:143px;
}
#u348 {
  position:absolute;
  left:1007px;
  top:924px;
  width:140px;
  height:143px;
}
#u349 {
  position:absolute;
  left:2px;
  top:64px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:803px;
  height:214px;
}
#u350 {
  position:absolute;
  left:277px;
  top:234px;
  width:803px;
  height:214px;
}
#u351 {
  position:absolute;
  left:2px;
  top:99px;
  width:799px;
  visibility:hidden;
  word-wrap:break-word;
}
